<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <%= @user.first_name %>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <div class="button is-light">
              <%= link_to "Sign Out", destroy_user_session_path %> 
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</nav>

Notifications
<br>
You have <%= @pending_invitations.count %> new friend request.
<br>
<% @pending_invitations.each do |pending_invitation| %>
  <%= form_with model: pending_invitation, method: "delete" do |form| %>
  <% @friends = User.where("id = ?", pending_invitation.user_id).to_a %>
    <% @friends.each do |friend| %>
    <%= friend.first_name %> 
    <%= friend.last_name %>
    <%= form.hidden_field :friend_id, value: friend.id %>
    <%= form.hidden_field :first_name, value: friend.first_name %>
    <%= form.hidden_field :last_name, value: friend.last_name %>
    <%= form.submit "Accept" %>
    <%= form.submit "Refuse" %>
  <br>
  <%end%>
  <%end%>
<%end%>
