<div class="container is-max-desktop mt-6">
  <% @pending_invitations.each do |pending_invitation| %>
    <%= form_with model: pending_invitation, method: "delete" do |form| %>
    <% @friends = User.where("id = ?", pending_invitation.user_id).to_a %>
    <% @friends.each do |friend| %>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">
                <%= friend.first_name %> 
                <%= friend.last_name %>
                <%= form.hidden_field :friend_id, value: friend.id %>
                <%= form.hidden_field :first_name, value: friend.first_name %>
                <%= form.hidden_field :last_name, value: friend.last_name %>
              </p>
            </div>
            <%= form.submit "Accept", class:"button is-link"  %>
            <%= form.submit "Refuse", class:"button is-danger is-outlined ml-2" %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
